/* styles for all html files */

/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;

}

html{
    min-height: 100%;
    position: relative;
}

/* Global styles */
body {
    min-height: 100%;
    margin-bottom: 75px;
    line-height: 1.6;
    background-color: #f8f8f8;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

/* Main content styles */
main {
    padding: 20px 0;
}

/* Footer styles */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 35px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }


/* container for index page search */
.search {
    text-align: center;
    padding: 50px 0;
}

/* container for entering a course and searching */
.search-container {
    max-width: 400px;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.search-container input[type="text"],
.search-container button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button for signing up, logging in and searching*/
.button1 {
    background-color: #004f2e;   
    width: 100%;  
    color: #fff;   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;   
}
   
input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid #004f2e;   
    box-sizing: border-box;   
}  

/* hover over buttons changes opacity */
.button1:hover, .homeButton:hover, .submitButton:hover, .review-link:hover, .more-button:hover, .dismissButton:hover, .adminButton:hover, .unsusButton:hover{   
    opacity: 0.7;   
}     

/* container for signup and login form */
.container{
    max-width: 400px;
    background: white;
    border-radius: 10px;
    padding: 15px 30px 20px 30px;
    border-style: solid;  
    border-color: #000000; 
    margin: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 42px;
}

h3 {
    text-align: center;
    font-size: 16px;
    padding-bottom: 5px;
    font-weight: 400;

}

h4 {
    text-align: left;
    font-size: 42px;
    margin: auto;
    padding-left: 20px;
}

h5 {
    text-align: left;
    font-size: 22px;
    margin: auto;
    font-weight: 500;
}

h6 {
    text-align: center;
    font-size: 32px;
    padding: auto;
}

/* horizontal break */
hr {
    margin: 10px 10px;
    border: 1.3px solid #004f2e;
}

/* Font style for all pages */
Body {  
    font-family: Calibri, Helvetica, sans-serif;  
}  

/* Button in header*/
.homeButton {
    background-color: white;
    border-radius: 5px;
    width: 60px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 15px 20px 15px 10px;
    float: right;
    cursor: pointer;
}

/* submit button for creating and editing review */
.submitButton {
    background-color: #004f2e;
    width: 100%;
    color: #fff;
    padding: 12px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 5px;
}

/* Subtitle for pages */
.subTitle {
    text-align: left; 
    font-size: 32px; 
    padding: 10px 10px 10px 0;
}

/* container for html files used for side padding */
.over {
    text-align: left;
    min-height:100%;
    position:relative;
    padding: 0 60px;
}

/* box for suspended accounts */
.suspendedAccounts {
    border: 2px solid black;
    padding: 15px;
}

/* textarea in the create review page */
textarea {
    border: lightgray 3px solid;
    padding: 10px 10px;
    margin: 10px 0;
    resize: none;
    font-size: 18px;
    width:100%;
}

/* button for creating a review */
#createButton {
    padding: 10px 15px; 
    font-size: 18px; 
    font-weight: 700;
    border: none;
    background-color: #004f2e; 
    color: #fff; 
    border-radius: 5px; 
    cursor: pointer;
    width: 170px; 
    float: right;
}

/* button for deleting a review in the edit review page */
#deleteReviewButton {
    padding: 8px 16px; 
    font-size: 14px; 
    font-weight: 400;
    border: none;
    background-color: #dc2a1a; 
    color: #fff; 
    border-radius: 5px; 
    cursor: pointer;
    width: 100px; 
    float: right;
}

/* button to unsuspend an account */
.unsusButton {
    padding: 8px 16px; 
    font-size: 14px; 
    font-weight: 400;
    border: none;
    background-color: #dc2a1a; 
    color: #fff; 
    border-radius: 5px; 
    cursor: pointer;
    width: 150px; 
    float: right;
}

/*button for suspending an account and deleting a review */
.adminButton {
    padding: 8px 10px; 
    font-size: 14px; 
    font-weight: 400;
    border: none;
    background-color: #dc2a1a; 
    color: #fff; 
    border-radius: 5px; 
    cursor: pointer;
    width: 100px; 
    float: right;
    margin: 15px;
}

/*button for dismissing a reported review */
.dismissButton {
    padding: 8px 10px; 
    font-size: 14px; 
    font-weight: 400;
    border: none;
    background-color: lightgray; 
    color: black; 
    border-radius: 5px; 
    cursor: pointer;
    width: 80px; 
    float: right;
}

/* field set for login and signup page */
fieldset {
    border: 0;
}

/* used to display each review */
article {
    border: 2px solid black;
    padding: 15px;
    overflow-wrap: break-word; 
    word-break: break-word; 
}

/* For displaying username in header */
#header span {
    font-size: 28px; 
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #004f2e;
    color: white; 
    border-radius: 5px; 
    text-align: left; 
}

/* dropdown container for review page */
.dropdown-container {
    position: relative;
}

/* '...' button that turns into dropdown */ 
.more-button {
    float: right;
    font-size: 32px;
    border: none;
    cursor: pointer;
    background-color: none;
}

/* dropdown for the report review feature */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    right: 0;
    list-style: none;
    background-color: #fff;
}

/* Report review button */
.report-button {
    cursor: pointer;
    text-decoration: none; 
    background-color: #fff;
}

/* U of R course Rating acts as a link to go back to home page */
.title-link {
    color: white; 
    text-decoration: none; 
}

/* box around the singular review in account page */
.review-link {
    color: black; 
    text-decoration: none; 
}
