/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center; /* Align everything to the center */
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px; /* Adjust spacing between items */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s; /* Add transition effect for smooth color change */
}

nav ul li a:hover {
    color: #007bff; /* Change color on hover */
    text-decoration: underline;
}

/* Main content styles */
main {
    padding: 20px 0;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
/* Search section styles */

.search {
    text-align: center;
    padding: 50px 0;
}

.search-container {
    display: inline-block;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container input[type="text"],
.search-container button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container input[type="text"] {
    width: 300px;
    margin-right: 10px;
}

.search-container button {
    background-color: #004f2e;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: rgb(#fff);  
}  
  
button {   
    background-color: #004f2e;   
    width: 100%;  
    color: #fff;   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;   
}   

form {   
    border: 3px solid #fff;   
}   
   
input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid #004f2e;   
    box-sizing: border-box;   
}  
   
button:hover {   
    opacity: 0.7;   
}     

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    background: white;
    border-radius: 10px;
    padding: 30px;
    border-style: solid;  
    border-color: #000000; 
}

h2 {
    text-align: center;
    font-size: 42px;
}
