/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;

}

/* Global styles */
body {
    line-height: 1.6;
    background-color: #f8f8f8;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

/* Main content styles */
main {
    padding: 20px 0;
}

/* Footer styles */

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }


.search {
    text-align: center;
    padding: 50px 0;
}

.search-container {
    max-width: 400px;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.search-container input[type="text"],
.search-container button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: rgb(#fff);  
}  
  
button {   
    background-color: #004f2e;   
    width: 100%;  
    color: #fff;   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;   
}     
   
input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid #004f2e;   
    box-sizing: border-box;   
}  
   
button:hover, .homeButton:hover, .submitButton:hover, .title-link:hover{   
    opacity: 0.7;   
}     

.container{
    max-width: 400px;
    background: white;
    border-radius: 10px;
    padding: 15px 30px 20px 30px;
    border-style: solid;  
    border-color: #000000; 
    margin: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 42px;
    padding: auto;
}

h3{
    text-align: center;
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: 400;

}

h4 {
    text-align: left;
    font-size: 42px;
    margin: auto;
    padding-left: 20px;
}

h5{
    text-align: left;
    font-size: 22px;
    margin: auto;
    font-weight: 500;
}

hr {
    margin: 10px 10px;
    border: 1.3px solid #004f2e;
}

.homeButton {
    background-color: white;
    border-radius: 5px;
    width: 60px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 15px 20px 15px 10px;
    float: right;
    cursor: pointer;
}

.submitButton{
    background-color: #004f2e;
    width: 100%;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 0;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 5px;
}

.subTitle{
    text-align: left; 
    font-size: 32px; 
    padding: 10px 10px 10px 0;
}


.over {
    text-align: left;
    width: auto;
    padding: 0 60px;
    position: relative;
    min-height: 69.7vh;
}

textarea {
    border: lightgray 3px solid;
    padding: 10px 10px;
    margin: 10px 0;
    resize: none;
    font-size: 18px;
    width:100%;
}

#createButton {
    padding: 10px 15px; 
    font-size: 18px; 
    font-weight: 700;
    border: none;
    background-color: #004f2e; 
    color: #fff; 
    border-radius: 5px; 
    cursor: pointer;
    width: 170px; 
    float: right;
}

#reportButton {
    padding: 8px 16px; 
    font-size: 14px; 
    font-weight: 400;
    border: none;
    background-color: #dc2a1a; 
    color: #fff; 
    border-radius: 5px; 
    cursor: pointer;
    width: 150px; 
    float: right;
}

fieldset{
    border: 0;
}

article{
    border: 2px solid black;
    padding: 15px;
}


#header span {
    font-size: 28px; 
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #004f2e;
    color: white; 
    border-radius: 5px; 
    text-align: left; 
    
}

.title-link {
    color: white; 
    text-decoration: none; 
}

