<!-- reviewpage.html -->
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U of R Course Rating</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
    
<body>
    <header id="header"></header>
    
        <main>
            <div class="over">
                <h2 id="courseNameHeader"></h2>
                <a id="createReview"><button type="button" id="createButton">Write a Review</button></a>
                <br>
                
                <section class="sort">
                    <div class="sort-options">
                        <label for="sortBy">Sort By:</label>
                        <select id="sortBy">
                            <option value="latest">Latest Reviews</option>
                            <option value="oldest">Oldest Reviews</option>
                            <option value="highest">Highest Rated</option>
                            <option value="lowest">Lowest Rated</option>
                        </select>
                    </div>
                    <br>
                </section>
    
                <section>
                    <div id="review-list"></div>
                </section>
                
            </div>
        </main>

        <div class="footer">
            <p>&copy; 2024 U of R Course Rating. All rights reserved.</p>
        </div>

        <script src="../js/index.js"></script>
        <script src="../js/reviewPage.js"></script>
</body>
</html>

